*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Contenedor{
  background: linear-gradient(52deg, rgb(231, 9, 9), #fff);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contador_Btn{
  width: 30%;
  height: 400px;
  background: #fff;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.Contador{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: gray;
  font-size: 10px;
}
.Numero{
  border: 2px solid red;
  padding: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 70px;
  color: gray;
}

.Btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.Btn button{
  background: red;
  width: 40%;
  height: 25%;
  border: none;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: .3s all;
  border-radius: 5px;
}

.Btn button:hover{
  background: gray;
}